<div class="text_block center_column">
	<p class="title">Trucks in <%= category.name.capitalize %>:</p><br>
	<ol>
		 <% category.trucks.each do |truck| %>
		 	<li><%= link_to truck.name, truck %></li><br>
		 <% end %>
	</ol>
</div>