<div class="stylish_block left_column">
Pick a category
<ul class="no_list_style"><p>
<% @categories.each do |category| %>
	<% if !category.trucks.where("city = ?", @city).empty? %>
		<li class="menu_list"><%= link_to (category.name, show_trucks_category_path(category), :remote => true) %></li>
	<% end %>
<% end %>
</p></ul>
</div>
<div id="truck_list">
	<% if !@category.nil? %>
		<%= render(:partial => "truck_list", :locals => {:category => @category}) %>
	<% end %>
</div>
<div id="pad"></div>
