body {
	min-width: 1044px;
	margin: 0;
	background: #162739;
	font-family: sans-serif;
}

/* INFORMATION TAGS */

.notice {
	font-size: 18px;
	color: #CDE6FF;
	text-align: center;
}

.error {
	font-size: 18px;
	color: red;
	text-align: center;
}

/* Header Tags*/

#header {
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #0c2b4b;
	min-width: 1044px;
	border-bottom: 3px solid #CDE6FF;
	height: 91px;

}

#footer {
	min-width: 1044px;
	min-height: 91px;
	border-top: 10px solid black;
	margin-top: 0px;
	background: #162739;
}

.logo {
	margin-top: 5px;
	margin-left: 10px;
	text-decoration: none;
	border: none;
}

/* MENU BLOCK TAGS */

.top_menu {
	float: right;
}

.bottom_menu {

}

.menu_block {
	color: #CDE6FF;
	font-size: 24px;
}


ul.menu_block {
	list-style: none;
	margin-top: 30px;
}



ul.menu_block li {display: inline; }

ul.menu_block a {
	border: 1px;
	padding: 0px 15px 0px 15px;
	margin-right: 15px;
	margin-bottom: 0px;
	text-decoration: none;
	color: #CDE6FF;
	font-size: 24px;
}

ul.menu_block a.selected_city {
	color: white;
}

.user_menu {
	background-color: black;
	color: #CDE6FF;
	width: 100%;
	border-top: 2px solid #CDE6FF;
	border-bottom: 2px solid #CDE6FF;
}

.user_menu ul {
	list-style: none;
}

.user_menu ul li { display: inline; }

.user_menu ul li a {
	color: #CDE6FF;
	text-decoration: none;
	font-size: 16px;
}

.stylish_block {
	background-color: black;
	color: #CDE6FF;
	border: 2px solid #CDE6FF;
	padding: 10px;
	-moz-border-radius: 7px;
}

.menu_list a {
	text-decoration: none;
	font-size: 16px;
	color: #CDE6FF;
}

/* SEARCH TAGS */

#search_form {
	height: 32px;
	min-width: 1044px;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 0px;
	margin-right: 0px;
	background: black; #0c2b4b; #9f3e19; black;
	color: #CDE6FF; #0c2b4b;
}

#search_form ul {
	list-style: none;
	margin: 5px;
}

#search_form ul li {display: inline; }

/* MAIN PAGE TAGS */

#container {
	min-width: 1044px;
	min-height: 512px;
	margin-top: 0px;
	padding-top: 20px;
	margin-bottom: -20px;
	background: black;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	
}

.static_page {
	color: #CDE6FF;
	size: 18px;
	text-align: center;

}

.text_block {
	background-color: #d8d8d8;
	padding: 10px;
	margin-bottom: 15px;
	-moz-border-radius: 7px;
	color: black;
	font-size: 14px;
}

p.title {
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid black;
}


.center_column {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.left_column {
	margin-left: 5%;
	margin-bottom: 20px;
	float: left;
}

.left_column_wide {
	float: left;
	margin-left: 10%;
	width: 30%;
}

.right_column_wide {
	margin-left: 40%;
}

.index_area {
	margin-left: 5%;
	margin-bottom: 20px;
	float: left;
	width: 347px;479px;
	height: 362px;
	margin-left: 10%;
	padding-top: 90px;
	padding-right: 20px;
	padding-left: 112px;
	padding-bottom: 32px;
	background-image: url(../images/l_arrow_block.png);
	background-repeat: no-repeat;
	font-size: 20px;
	color: #CDE6FF;
	
}

.center_align {
	text-align: center;
}

.no_list_style {
	list-style: none;
}

.black_bg {
	background: black;
}


/* TRUCK RESULTS TAGS */

.result_icons {
	float: right;
}

#result_list {
	margin-left: 10%;
	width: 40%;
	margin-right: 2.5%;
}

li.result {
	margin-top: 20px;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 30px;
	background-color: #d8d8d8;white;
	/*opacity: 0.5;*/
	-moz-border-radius: 7px;
	/*width: 600px;*/
}

li.result ol li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.truck_name {
	margin-top: 0px;
	opacity: 1.0;	
	color: black;
	font-size: 18px;
}

.tweet_time {
	font-size: 12px;
}

.result_footer {
	border-top: 1px solid #7d7d7d;
	padding-top: 3px;
	font-size: 12px;
}

.footer_more_info {
	float: right;
}

.result_footer ul {
	/*margin-bottom: -16px;*/
}

.result_footer ul li {
	display: inline;
}
.result_footer a {
	text-decoration: none;
	font-size: 10px;
}

.result_footer a img {
	border: 0;
}

.result_more {
	float: right;
	border: 0;
	margin-right: -5px;
}

.pagination {
	text-align: center;
	font-size: 20px;
	color: white;
}

.pagination a {
	text-decoration: underline;
	color: #CDE6FF;
}




/* MAP TAGS */

#map_area {
	float: right;
	width: 30%;
	margin-left: 2.5%;
	margin-top: 20px;
	margin-right: 15%;
	
}

#infoWindowTitle {
	color: #CDE6FF;
	background-color: #686868;

}

#infoWindowBody {
	color: black;
}
#infoWindowTime {
	color: black;
}


#map_canvas {
	height: 400px;
	/*width: 400px;*/
	border: 2px solid #CDE6FF;
}










